# Ignore sensitive values file
#terraform.tfvars

# Ignore terraform provider info 
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

#Ignore ec2_instance module creation
#modules/ec2_instance/


