name: Trigger Jenkins on Terraform Change Only

on:
  push:
    branches: ["main"]
    paths:
      - "dev-terraform/**"

jobs:
  trigger_jenkins:
    runs_on: ubuntu-latest
    steps:
      - name: Trigger Jenkins Job
        run: |
          curl -sS -X POST \
            "${{ secrets.JENKINS_JOB_URL }}/build?token=${{ secrets.JENKINS_TRIGGER_TOKEN }}"